<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="C:/Users/Equipo/Documents/practicas/Spa/css/bootstrap.min.css">
<link rel="stylesheet" href="C:/Users/Equipo/Documents/practicas/Spa/css/bootstrap.css">	
<link rel="stylesheet" type="text/css" href="C:/Users/Equipo/Documents/practicas/Spa/styles.css">
<head>
<title>Cita || Maryha</title>
</head>
<body>

<div class="container-fluid">
<!-- Inicio Header -->	
	<header id="header-inicio">
		<div class="container" id="letras">
			<h1><strong>Estetica Maryha</strong></h1>
			<h2>Cuidamos de tu imagen, como lo mereces</h2>
		</div>
	</header>
<!-- Fin Header -->
<!-- Menu de Migas -->
	<div class="container">
			<div class="col-md-4 col-md-offset-4">
				<ol class="breadcrumb">
					<li><a href="C:/Users/Equipo/Documents/practicas/Spa/index.html">Inicio</a></li>
					<li class="active">Cita</li>
				</ol>
			</div>
		</div>
<!-- Inicio Container formulario -->
<div class="container" id="contnedor-registros">
	<form action="" class="col-md-5" id="formulario-registro">
	<!-- Nombre -->
		<div class="form-group">
			<label for="#Nombre" class="sr-only">Nombre</label>
			<input class="form-control" type="text" id="Nombre" placeholder="Nombre">
		</div>
	<!-- Apellido Paterno -->
		<div class="form-group">
			<label for="#APaterno" class="sr-only">Apellido Paterno</label>
			<input class="form-control" type="text" id="APaterno" placeholder="Apellido Paterno">
		</div>
	<!-- Apellido Materno -->
		<div class="form-group">
			<label for="#AMaterno" class="sr-only">Apellido Paterno</label>
			<input class="form-control" type="text" id="AMaterno" placeholder="Apellido Materno">
		</div>
	<!-- Numero de telefono -->
		<div class="form-group">
			<label for="#telefono" class="sr-only">Telefono</label>
			<input class="form-control" type="number" id="telefono" placeholder="Telefono " maxlength="10">
		</div>
	<!-- Numero de Celular -->
		<div class="form-group">
			<label for="#Celular" class="sr-only">Celular</label>
			<input class="form-control" type="number" id="Celular" placeholder="Celular " maxlength="10">
		</div>
	<!-- Fecha de cita -->
		<div class="form-group">
			<label for="#Fecha" class="sr-only">Fecha</label>
			<input class="form-control" type="datetime-local" id="Fecha" placeholder="Elige la Fecha" maxlength="10">
		</div>	
	<!-- Comentarios -->
		<div class="form-group">
			<label for="#Comentarios" class="sr-only">Comentarios</label>
			<textarea class="form-control" name="" id="Comentarios" cols="20" rows="4" placeholder="Comentarios"></textarea>
		</div>
	<!-- Botones -->
		<button class="btn btn-success col-xs-8 col-sd-6 col-md-4" id="btn_cita"> Enviar </button>
		<a href="C:/Users/Equipo/Documents/practicas/Spa/index.html" class="btn btn-danger col-xs-8 col-sd-6 col-md-4" id="btn_cita"> Cancelar</a>
	</form>
</div>
</div>
	<!--	JQuery	-->
	<script src="C:/Users/Equipo/Documents/practicas/Spa/js/jquery.js"></script>
	<script src="C:/Users/Equipo/Documents/practicas/Spa/js/bootstrap.min.js"></script>	
</body>
</html>
